
<div class="colordiv"> 
    <div style="background-color:rgb(<%= colorsArray[0] %>, <%= colorsArray[1] %>, <%= colorsArray[2] %>)"></div>
    <div style="background-color:rgb(<%= colorsArray[3] %>, <%= colorsArray[4] %>, <%= colorsArray[5] %>)"></div>
    <div style="background-color:rgb(<%= colorsArray[6] %>, <%= colorsArray[7] %>, <%= colorsArray[8] %>)"></div>
</div> 