<main class="profileMain">
<p class="userFlareName"><%= name %>'s Flare</p>

<% images.forEach(function(sparkqueue){ %>
    <% console.log(`*********************************`) %>
    
    <% console.log(sparkqueue.dataValues.color1) %>

    <div class='profileView'>
        <img id="flareImg" src="<%= sparkqueue.dataValues.url %>">
        <p class="titleP">Title: <%= sparkqueue.dataValues.title%></p>
        <p class="artistP">Artist: <%= sparkqueue.dataValues.artist %></p>
        <div id="userFlare">
        <p class="artistP">Flare Title: <%= sparkqueue.dataValues.flaretitle %></p>
        <img id="flareupload" src="<%= sparkqueue.dataValues.uploadurl %>">
        </div>
        <% if(sparkqueue.dataValues.color1 !== null) { %>
            <div class="colorsFlare" style="background-color:rgb(<%= sparkqueue.dataValues.color1 %>)"></div>
            <div class="colorsFlare" style="background-color:rgb(<%= sparkqueue.dataValues.color2 %>)"></div>
            <div class="colorsFlare" style="background-color:rgb(<%= sparkqueue.dataValues.color3 %>)"></div>
        <% } %>
    </div>
<% }) %>
</main>
<img src="<%= images %>">



