<h1 class="spark">Spark</h1>
<main>
<div class='SparkImg'>
<% let title; %>
<% let artist; %>
<% let url; %>

    <% if (randomImg.copyright === 'President and Fellows of Harvard College') { %>
        
       <img src="<%= randomImg.baseimageurl %>" >  
        <p class ="artistP">Artist: Unknown</p> 
        <%  artist = 'Unknown' %>
        <%  url = randomImg.baseimageurl %>
        <% if (randomImg.caption === null){ %>

            <% title = 'Untitled' %>
            <p class="titleP">Title: Untitled</p>

        <% } else { %>

            <% title = randomImg.caption %>
            <p>Title: <%= randomImg.caption %></p>
            
        <% } %>

      <% } else { %>

        <% title = randomImg.title %>
        <% artist = randomImg.principalOrFirstMaker %>
        <% url = randomImg.webImage.url %>
        <img src="<%= randomImg.webImage.url %>">
        <p class="artistP">Artist: <%=randomImg.principalOrFirstMaker%></p>
        <p class="titleP">Title: <%=randomImg.title %></p>
        
      <% } %>
      
      <div class="colors" style="background-color:rgb(<%= colorsArray[0] %>, <%= colorsArray[1] %>, <%= colorsArray[2] %>)"></div>
      <div class="colors" style="background-color:rgb(<%= colorsArray[3] %>, <%= colorsArray[4] %>, <%= colorsArray[5] %>)"></div>
      <div class="colors" style="background-color:rgb(<%= colorsArray[6] %>, <%= colorsArray[7] %>, <%= colorsArray[8] %>)"></div>
    
      </div>
            
   
    
<div class='QueueAdd'>
    <form method="POST"  action="/queue">
        <input type="hidden" name="title" value="<%= title %>">
        <input type="hidden" name="artist" value="<%= artist %>">
        <input type="hidden" name="url" value="<%= url %>">
        <input type="hidden" name="id" value="<%= currentUser.dataValues.id %>">
     
        <button type="Submit">Add to Queue</button>
    </form>
</div>
</main>